body {
   display: flex;
   height: 100vh;
   max-width: 1300px;
   margin-left: auto;
   margin-right: auto;
   padding: 0 10px;
    font-family: Arial, sans-serif;
    background-color: #15202b; /* Cor de fundo */
    color: #FFFFFF; /* Cor do texto */
}



/* estilo sidebar */
.sidebar-container {
    display: flex;
    flex-direction: column;
    
}

.sidebar {
    border-right: 1px solid var(#ffffff); flex: 0.2;
    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
    width: 250px;
    height: 100vh;
    box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5);  /* Linha de separação */
   
}

.sidebar h1 {
    margin-bottom: 20px;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.sidebar li {
    padding: 25px 20px; /*distância entre ícones*/
    transition: background-color 0.6s ease; /* Transição suave da cor de fundo */
}

.sidebar li:hover {
    background-color: #253341; /* Cor de fundo mais clara ao passar o mouse */
    border-radius: 20px; /* Borda arredondada ao passar o mouse */
}

.icone{
padding: 50px 15px;
font-size: 40px;
margin-top: -40px;
}


.sidebar a {
    text-decoration: none;
    color: #FFFFFF;
}

.sidebar i {
    margin-right: 10px;
}


/* Estilo para botões */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 20px; /* Borda redonda */
    background-color: #1da1f2; /* Cor de fundo */
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.8s ease; /* Transição suave da cor de fundo */
}

.btn:hover {
    background-color: #1a91da; /* Cor de fundo mais clara ao passar o mouse */
}

/* Estilo para botões secundários */
.btn-secondary {
    background-color: #38444d; /* Cor de fundo */
}

.icon{

    border-right: 1px solid var(#FFFFFF); flex: 0.2;
    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.perfil-usuario {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    bottom: 0;
    left: 1;
    width: 250px;
    border-right: 1px solid var(#ffffff); flex: 0.2;
    min-width: 250px;
    margin-top: 20px;
    margin-right: auto;
    width: 250px;
    height: 290px;
    
   
}

/* Estilos para a foto de perfil */
.perfil-usuario img {
    width: 60px;
    height: 60px;
    border-radius: 50%; /* Deixa a foto de perfil redonda */
    margin-right: 15px;
    
}

/* Estilos para as informações do usuário */
.informacoes-usuario h2,
.informacoes-usuario p {
    margin: 0;
    color: #FFFFFF;
}

.informacoes-usuario a {
    text-decoration: none; /* Remove a linha inferior (underline) */
    color: inherit; /* Mantém a cor do texto padrão */
}
/* final sidebar, aleluia */

.feed{
display: flex;
border-bottom: 1px solid #ccc;
height: 50px;
width: 100%;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 200px; /* centraliza e separa os elementos para você e seguidores */
   
}

.feed{
    border-bottom: 1px solid #cccccc;
    
}
[
    
]



